.header {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../assets/images/tmp.png');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.header-content {
  padding: 2rem;
}

.header h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.header p {
  font-size: 1.5rem;
} 